/* ----- Geral ----- */
* { 
	border:0; 
	list-style:none; 
	font-weight:normal; 
	margin:0; 
	padding:0; 
	outline:0; 
	text-decoration:none;
	-webkit-font-smoothing: antialiased; 
	font-weight:100; 
	font-family: "Open Sans", Verdana;
}

.fa{
	color: #fff;
}

strong { 
	float:none; 
	font-weight:bold; 
}

input,
:focus {
	outline:0; 
	border:0;
}

a {
	outline:0; 
	border:0;
}

br { float:none; }

table { 
	border-collapse:separate; 
	border-spacing:0; 
}

caption, th, td { text-align:left; }

blockquote:before, 
blockquote:after, 
q:before, 
q:after { content:""; }

blockquote, 
q { quotes:"" ""; }

::-webkit-input-placeholder { /* WebKit browsers */color: #8c8a7a;}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */color: #8c8a7a;}
::-moz-placeholder { /* Mozilla Firefox 19+ */color: #8c8a7a;}
:-ms-input-placeholder { /* Internet Explorer 10+ */color: #8c8a7a;}

*::selection { background:#1163c3; color:#FFFFFF; }
*::-moz-selection  { background:#1163c3; color:#FFFFFF; }
*::-webkit-selection { background:#1163c3; color:#FFFFFF; }

a, 
h1, 
h2, 
h3, 
h4, 
article, 
aside, 
dialog, 
figure, 
footer, 
header, 
hgroup, 
nav, 
section, 
blockquote, 
label { display: block; }


h1, 
h2, 
h3, 
h4, 
h5, 
h6{
	color: #718792; 
	font-size: 20px; 
	font-family: "Open Sans", Verdana;
	margin: 20px 0 25px 0; 
	text-transform: uppercase;
}

li{ font-size: 14px; }

/* ----- Clearfix ----- */
.clearfix{
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0;
	height:0
}

.clearfix:after{
	clear:both;
	content:' ';
	display:block;
	font-size:0;
	line-height:0;
	visibility:hidden;
	width:0;
	height:0
}

* html .clearfix,
*:first-child+html .clearfix{
	zoom:1;
}

/* ----- Classes ----- */

