@media (max-width: 768px) {
	/* ----- Comun ----- */
	.static-mobile{
		position: static;
	}

	.mob-mt-20{
		margin-top: 20px;
	}

	.view-mobile{
		display: block !important;	
	}

	.view-content-main{
		display: none !important;
	}

	/* ----- Menu Mobile ----- */
	header .nav-mobile{
		position: relative;
		z-index: 9999;		
	}

	header .nav-mobile .fa{
		font-size: 30px;
		margin: 19px 24px;
	}

	header .menu-mobile{ 
		top: 0;
		left: 0; 
		margin: 0;
		width: 100%;		
		z-index: 999;
		max-height: 100%;
		display: none;
	    padding: 20% 0 0;
		position: fixed;
	    text-align: center;
		background: rgba(0, 0, 0, .9);
	}

	header .menu-mobile .sub > div{
		position: static !important;
		width: auto !important;
	}

	header .menu-mobile .sub > div > ul{
	    padding: 10px 0 0;
	    width: 100%;
	    float: none;
	    background: none;		
	}

	header .menu-mobile .sub > div > ul li,
	header .menu-mobile .sub > div > ul li a{
		width: 100%;
		height: auto;
		font-size: 16px;
		color: #fff;
		padding: 0;
	}

	header .menu-mobile .sub > div > ul li a{
		padding: 10px 0;
	}

	/* ----- Header ----- */
	header .btnsair{
		float: right;
		width: 65%;
	}

	.logotipo a{
		max-width: 150px;
		background-size: contain;
		margin: auto;
	}

	header .menuTopo{
		margin-top: 24px;
	}

	header .menuServicos{
		display: none;
	}	

	header .menuServicos li{
		float: none;
		height: auto;
	}

	header .menuServicos li a{
		font-size: 20px;
		line-height: 24px;
		padding: 10px 0;
		background: none !important;
	}

	header .menuTopo .notfc .abt{
		left: -50px;
		background: none;
	}

	header .box-user,
	header .box-user .usuario{
		float: none !important;
		margin: auto;
	}

	header .box-user .name-user{
		max-width: 100%;
		text-align: center;
		float: none;
		font-weight: 600;
	}	

	/* ----- Menu Main ----- */
	.menu-main > a{
		color: #fff;
		font-weight: 600;
		font-size: 18px;
		padding: 5px 0;
		background: #005d99;
		text-align: center;

		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
	}

	.menu-main > a .fa{
		font-size: 20px;
	}

	.menu-main > nav{
		display: none;
	}	

	.menu-main .menu{
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
	}

	.menu-main .menu li ul.submenu{
		position: static;
		max-width: 100%;	
		display: block;	
	}

	.menu-main .menu li ul.submenu a{
		padding: 0 30px;
	}

	/* ----- Widgets ----- */
	.widget-photos,
	.widget-destaque,
	.widget-comunicados{
		float: none;
		width: 100%;
	}

	.widget-photos img,
	.widget-destaque img,
	.widget-comunicados img{
		width: 100%;
	}

	/* ----- Widget Pesquisar ----- */
	.widget-pesquisar form ul li{
	    font-size: 16px;
	    line-height: 30px;
	}

	.widget-pesquisar form ul li input{
		font-size: 18px;
		margin-top: 10px;
	}

	/* ----- Widget Lidas ----- */
	.widget-lidas nav{
		float: none;
	}

	.widget-lidas li{
		margin: 4px 0;
		font-size: 14px !important;
		font-weight: 600;
		float: none !important;
		width: 100% !important;
		background-color: #e7e8ec !important;
	}
	
	/* ----- Widget Colaboradores ----- */
	.widget-colaboradores img{
		margin: auto;
	}

	/* ----- Widget Aniversariantes ----- */
	.widget-aniversariantes nav{
		float: none;
	}

	/* ----- Footer ----- */
	footer{
		margin-top: 50px;
	}

	footer .copyright{
		text-align: right;
		font-size: 18px;
		padding: 0 5px;
	}

	footer .menu-footer li{
		float: none;
		border: none !important;
		display: block !important;
	}

	footer .menu-footer li a{
	    font-size: 16px;
	    padding: 5px;
	}
}