/* ----- Geral ----- */
body { 
  color: #718792;
  width:100%; 
}

/* ----- Containers ----- */
div.container{
    max-width: 1200px;
    margin: auto;
    display: block;
}

div.container div{
  display: block;
}

/* ----- Classes ----- */
.margin-0{
  margin: 0 !important;
}

.margin-t-20{
  margin-top: 20px !important;
}

.padding-0{
  padding: 0 !important;
}

.padding-t-0{
  padding-top: 0 !important;
}

.lkmobile, 
.lkmobileSevs{ display: none; }

.title-widget{
  color: #718792;
  font-size: 20px;
  padding: 12px 0 5px;
  margin: 0;    
}

.btnSimples{    
  width: 100%;
  float: right;
  color: #1163c3;
  font-size: 13px;
  background: url(../imgs/btnsimples.png)repeat-y right top;
  padding: 8px 8px 6px 0;
  text-align: right;
}

.btn-primary{
  background-color: #005d99;
}

.btn-link{
  color: #005d99;
}

/* ----- Modal ----- */
.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal-login {
      position: fixed;
    top: 128px;
    right: -260px;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate3d(0, -25%, 0);
       -o-transform: translate3d(0, -25%, 0);
          transform: translate3d(0, -25%, 0);
}

.modal.in .modal-dialog {
  -webkit-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}

.modal-content {
	float: left;
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}

.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
  background: transparent url("../imgs/fundo-top.jpg") no-repeat scroll right top;}
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  color: #ffffff;
  text-transform: capitalize;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.modal-footer {
  padding: 15px;
  text-align: right;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.btncolor{
  color: #1163c3; 
  display: block; 
  margin: 0 auto; 
  width: 179px; 
  text-align: center;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}

/* Header */
header{
  margin-bottom: 20px;
}

header .content-header-top{
  background: #005d99;
  height: 70px;
}

header .content-header{
  padding: 5px 0;
  background: #f4f5f7;
}

header .logotipo{
  margin: 0;
}

.logotipo a{
  height: 80px; 
  display: block; 
  text-indent: -9999px;
  background: url(../imgs/logo.png) no-repeat 0 0;  
}

header .menuServicos{
  padding: 0; 
  margin: 28px 0;
}

header .menuServicos li{
  height: 17px; 
  display: block; 
  float: left;
}

header .menuServicos li a{
  overflow: hidden; 
  color: #7eabdf; 
  display: block; 
  padding: 3px 19px 0 23px; 
  font-size: 11px;
  line-height: 10px;
}

header .menuServicos li a.serv{
  background: url(../imgs/icon-serv.png)no-repeat 0px -1px;
}

header .menuServicos li.sub{
  position: relative;
}

header .menuServicos li.sub .abt{
  top: 15px;
  left: -100px;
  position:absolute; 
  width: 218px; 
  padding-top:5px; 
  display:none;  
}

header .menuServicos li.sub:hover div{ 
  display:block;
  padding-top: 5px;
  width: 218px; 
  background:url(../imgs/icon-menu.png) no-repeat center top;  

  border-radius: 7px;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

header .menuServicos li.sub ul{
  background:#FFF url(../imgs/efx-subs.jpg) repeat-x left bottom; 
  width: 218px; 
  display:block; 
  float: left; 
  padding: 10px 0; 
  margin: 0;

  border-radius: 10px;  
  -moz-border-radius: 10px;  
  -webkit-border-radius: 10px;  
}

header .menuServicos li.sub ul li,
header .menuServicos li.sub ul li a{
  width: 218px; 
  height: 24px;
  line-height: 17px;
}

header .menuServicos li.sub ul li a:hover{
  background:url(../imgs/hover-sub.png) no-repeat center left; 
}

header .menuTopo{
  z-index:10; 
  padding: 0;
  display: block; 
  margin-top: 27px; 
  position: relative;
}

header .menuTopo li{
  height: 30px; 
  display: block; 
  float: left; 
  width: 55px;
}

header .menuTopo li a{
  height: 30px; 
  text-indent: -9999px; 
  display: block; 
  padding: 0 27px 0 0;
}

header .menuTopo li a.pesq{
  width: 1px;
  background: url(../imgs/incon-lupa.png) no-repeat 0px 0px; 
}

header .menuTopo li a.calend{
  background: url(../imgs/icon-calendario.png) no-repeat 0px 0px;
}

header .menuTopo li a.notif{
  width: 10px; 
  position: relative;
  background: url(../imgs/icon-notificacao.png) no-repeat 0px 0px; 
}

header .menuTopo li a.notif .star{
  left: 18px;
  top: 8px;
  width: 22px; 
  height: 22px; 
  position: absolute; 
  text-indent: 0; 
  color: #FFF; 
  font-size: 10px; 
  padding: 6px 0 0 5px;
  background: url(../imgs/star-red.png) no-repeat 0px 0px; 
}

header .menuTopo li a.msg{
  background: url(../imgs/icon-msg.png) no-repeat 0px 0px; 
}

header .menuTopo li.busc div{
  left: -360px; 
  top: 30px; 
  display: none;
  z-index:1; 
  width: 619px; 
  height: 110px; 
  position: absolute; 
  text-indent: 0;  
  background: url(../imgs/input-search.png) no-repeat 0px 0px; 
}

header .menuTopo li.buschover div.search{ 
  display:block; 
}

header .menuTopo li.busc:hover div.search{
  display: block;
}

.search input.text{
  width: 478px; 
  padding: 37px 0 0 71px; 
  background: transparent; 
  float: left;
}

.search input.btSearch{
  width: 54px; 
  height: 84px; 
  background: transparent; 
  text-indent: -9999px;
}

header .menuTopo .notfc .abt{
  top: 25px; 
  left: 4px; 
  position: absolute; 
  width: 318px; 
  padding-top: 5px; 
  display:none;
  background:url(../imgs/icon-menu.png) no-repeat center top; 
}

header .menuTopo .notfc .abt strong.tit{ 
  background: #FFF; 
  width: 318px; 
  font-size: 15px; 
  color: #718792; 
  display: block; 
  float: left; 
  padding: 5px 0 0 5px;

  border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -webkit-border-radius: 10px 10px 0 0;
}

header .menuTopo .notfc:hover div{
  display: block;
}

header .menuTopo .notfc .abt ul{
  background: #FFF url(../imgs/efx-subs.jpg) repeat-x left bottom; 
  width: 318px; 
  display: block; 
  float: left; 
  padding: 10px 0; 
  margin: 0; 

  border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-radius: 0 0 10px 10px;
}

header .menuTopo .notfc .abt ul li{
  margin-bottom: 4px;
  width: 100%;
  height: 53px;
  display: block;
  float: none;
  background: #f5f5f5;
}

header .menuTopo .notfc .abt ul li a{
  width: 100%;
  height: 53px;
  font-size: 13px;
  color: #718792;
  display: block;
  background: #f5f5f5;
  overflow: hidden;
  padding: 0 !important;
}

header .menuTopo .notfc .abt ul li a img{
  width: 53px; 
  height: 53px; 
  display: block; 
  float: left; 
  margin: 0 5px;
}

header .menuTopo .notfc .abt ul li a span{
  margin-top: 5px;
  width: 255px;
  float: left;
  height: 53px;
  text-indent: 0;
  line-height: 15px;
}

header .menuTopo .notfc .abt ul li a span strong{
  font-size: 13px; 
  float: none; 
  color:#1163c1; 
  padding: 0; 
  margin: 0; 
  border: none; 
  background: none;
}

header .data{
  width: 100%;
  max-width: 230px; 
  height: 60px; 
  display: block; 
  float: left;
}


header .data p{
  font-size: 10px; 
  color: #ffffff;
}

header .data p span{
  font-size: 30px; 
  float: left; 
  line-height: 54px; 
  margin-right: 7px;
}

header .btnsair{
  width: 25px; 
  height: 60px; 
  display: block; 
  float: left; 
  overflow: hidden; 
  text-indent: -9999px; 
  background: url(../imgs/icon-sair.png) no-repeat center 24px;
}

header .box-user{
  display: block; 
  float: left; 
  position: relative;
}

header .box-user h4{
  margin: 0;
  max-width: 180px;
  font-size: 13px;
  display: block;
  float: left;
  color: #005d99;
  padding: 10px;
  max-height: 40px;
  overflow: hidden;
}

header .box-user .config{
  font-size: 11px;
  color: rgb(113, 135, 146);
  padding: 1px 0 2px 30px;
  margin-top: 0;
  background: url(../imgs/icon-config.png) no-repeat 7px 0px;
  font-weight: 400;
}

header .box-user img.usuario{
    height: 75px;
    width: 75px;
    display: block;
    float: left;
    border-radius: 50px;
    border: 3px solid #005d99;
}

/* ----- Menu Main ----- */
.menu-main .menu{
  display: block; 
  float: left; 
  margin: 0; 
  padding: 0;
  background: #1163c3;
}

.menu-main .menu li{
  width: 100%; 
  display: block; 
  float: left; 
  position: relative; 
  border-top: 1px solid #1059af;
}

.menu-main .menu li:first-child{
  border: none;
}

.menu-main .menu li a{
    color: #ffffff;
    padding: 1px 15px;
    line-height: 30px;
    font-size: 13px;
    overflow: hidden;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-main .menu > li:hover a,
.menu-main .menu li ul.submenu li:hover a{
  background: #0a4087;
}

.menu-main .menu li ul.submenu{
  width: 100%;  
  position: absolute;
  z-index: 10;
  left: 100%;
  top: 0;
  margin: 0px;
  padding: 0px;
  background: #283e57;
  display: none;
}

.menu-main .menu li:hover > ul{
  display: block;
}

.menu-main .menu li ul.submenu li{
  background: #283e57;
}

.menu-main .menu li ul.submenu li a{
  background: #104D95;
}

/* ----- Content Main ----- */
.view-mobile{
  display: none !important;
}

/* ----- Banner Main ----- */
.widget-banner .item img{
  width: 100%; 
  display: block;
}

/* ----- Widget Indicadores ----- */
.widget-indicadores{
  height: 110px; 
  background:#F5F5F5 url(../imgs/bg-indicadores.jpg) no-repeat 0 0;
}

.widget-indicadores ul{
  height: 110px;
  padding: 10px 0 10px 95px;
  margin: 0;
}

.widget-indicadores ul li{
  height: 36px; 
  display: block;
}

.widget-indicadores ul li span{
  display: block; 
  margin: 0 13px; 
  float: right;
}

.widget-indicadores ul li span,
.widget-indicadores ul li strong{
  font-size: 12px;
}

.widget-indicadores ul li span img{
  margin-left: 10px;
}

/* ----- Widget Oportunidades ----- */
.widget-oportunidades{
  height: 110px; 
  display: block; 
  margin-top: 10px;
}

.widget-oportunidades a{
  height: 110px; 
  display: block; 
  text-indent: -9999999px; 
  background:#80858b  url(../imgs/painel-oportunidades.jpg) no-repeat 0 0;  
}

/* ----- Widget Photos ----- */
.widget-photos{
  display: block; 
  position: relative; 
  float: left;  
}

.widget-photos > div a{
  bottom: 0;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  padding: 100px 0 4px 52px;
  background: url(../imgs/fundo-galeria.png) no-repeat 0 bottom;
  width: 100%;
  height: 139px;
}

.widget-photos > div img{
  width: 100%;
}

/* ----- Widget Destaques ----- */
.widget-destaque{
  display: block; 
  float: left; 
  position: relative;  
}

.widget-destaque .box-marketing{
  bottom: 0;
  width: 100%;
  position: absolute;
  padding: 104px 10px 10px 10px;
  background: url(../imgs/bg-destaque.png) repeat-x 0 bottom;
}

.widget-destaque .box-marketing a{
  display: block; 
  float: left; 
  color: #ffffff; 
  font-size: 15px; 
  padding: 0; 
  font-weight: bold;  
}

.widget-destaque .box-marketing a.curtir{
  height: 16px; 
  padding: 5px 0 0 21px; 
  float: right; 
  margin-left: 5px; 
  font-size: 9px; 
  background: url(../imgs/icon-curtir.png)no-repeat 0 0;  
}

.widget-destaque .box-marketing a.comentar{
  height: 21px; 
  padding: 5px 0 0 21px; 
  float: right; 
  margin-right: 5px; 
  font-size: 9px; 
  background: url(../imgs/icon-comentar.png)no-repeat 0px 3px; 
}

/* ----- Widget Comunicados ----- */
.widget-comunicados{

}

/* ----- Widget Lidas ----- */
.widget-lidas nav{
  display: block; float: left;
}

.widget-lidas nav ul{
  width: 100%; 
  display: block; 
  float: left; 
  padding: 0; 
  margin: 16px 0 0 0;
}

.widget-lidas nav ul li{
  width: 33.3%;
  height: 80px;
  float: left;
  font-size: 13px;
  color: #718792;
  padding: 4px 5px 0 65px !important;
}

.widget-lidas nav ul li.li01{background: url(../imgs/bgli-01.jpg)no-repeat 0px 0px; padding-right: 12px;}
.widget-lidas nav ul li.li02{background: url(../imgs/bgli-02.jpg)no-repeat 0px 0px; padding-right: 12px;}
.widget-lidas nav ul li.li03{background: url(../imgs/bgli-03.jpg)no-repeat 0px 0px;}

.widget-lidas nav ul li a{  
  width: 107px; 
  display: block; 
  float: left; 
  font-size: 15px; 
  color: #7d919b; 
  padding: 10px 0 0 71px;  
}

/* ----- Widget Search ----- */
.widget-pesquisar{
  width: 100%; 
  float: left; 
  display: block; 
  background: #ebecee; margin-top: 13px;
}

.widget-pesquisar h3{
  display: block;
  padding: 0px 0 0 15px;
  margin-top: 15px;  
}

.widget-pesquisar h4{
  font-size: 13px; 
  font-weight: bold; 
  text-transform: none; 
  padding: 0 0 0 20px; 
  margin-top: 5px;  
}

.widget-pesquisar form{
  display: block; 
}

.widget-pesquisar form ul{
  display: block; 
  padding: 0 0 0 20px;
}

.widget-pesquisar form ul li{
  display: block;
  margin: 5px 0;
  font-size: 14px;
  color: #7d919b;
}

.widget-pesquisar form ul li input{
  display: block; 
  float: left; 
  margin: 2px 11px 0 0px; 
  height: 13px;
}

/* ----- Widget Colaboradores ----- */
.widget-colaboradores{
  margin-top: 13px;
}

/* ----- Widget Anivesáriante ----- */
.widget-aniversariantes{
  width:100%; 
  height: 213px; 
  display: block; 
  float: left;
}

.widget-aniversariantes h3{
  width: 100%;
  padding: 7px 0 5px 0;
  margin: 10px 0 0px 0;
  text-align: center;
  background: url(../imgs/bg-h3.jpg) repeat-x 0 0;
}

.widget-aniversariantes nav{
  display: block; 
  float: left;
}

.widget-aniversariantes nav ul{
  width:100%; 
  display: block; 
  float: left; 
  padding: 0; 
  margin: 0;
}

.widget-aniversariantes nav ul li{
  width:100%; 
  display: block; 
  float: left;
  padding: 5px 0; 
  border-bottom: 1px solid #ebecee;
}

.widget-aniversariantes nav ul li img{
  display: block; 
  float: left; 
  margin: 0px 10px 0 0;
}

.widget-aniversariantes nav ul li span{
  float: left;
  font-size: 13px;
  margin-top: 18px;
}

/* ----- Footer ----- */
footer{
  width: 100%; 
  display: block; 
  float: left; 
  margin-top: 20px;
  background: #f3f5f6;  
  border-bottom: 30px solid #005d99;
}

footer .menu-footer ul{
  padding: 0;
  text-align: right;
  overflow: hidden;
}

footer .menu-footer ul li{
  padding-left: 10px;
  margin-left: 10px;
  display: inline-block;
  border-left: 1px solid #c5c5c5;
}

footer .menu-footer ul li:first-child{
  margin: 0;
  padding: 0;
  border: none;
}

footer.footer-light{
  background: no-repeat;
  border: none;
}

footer.footer-light .menu-footer ul{
  text-align: center;
}

/* ----- Content ----- */
.widget-content .content,
.widget-content .content > *{
  font-size: 14px !important;
  color: inherit !important;
}

/* ----- Login ----- */
.widget-login{
  margin: 120px auto;
  max-width: 430px;
}

.widget-login .logotipo a{
  background-position: center;
}

.widget-login .widget-title{
  text-align: center;
  font-size: 30px;
  text-transform: none;
  margin-bottom: 20px;
}








/*COMPONENTES*/
div.container div.componentes{width: 100%; display: block; float: left;}

section#utilitarios{width: 100%; display: block; float: left;}

section#utilitarios h3{display: block; background: #225A9C; color: #ffffff; font-size: 13px; padding: 5px 6px;}

section#utilitarios ul{display: block; float: left; padding: 0px; margin: 0;}

section#utilitarios ul li{width: 100%; display: block; float: left; margin: 7px 0px;}

section#utilitarios ul li a{width: 100%; display: block; float: left; color: rgb(69, 69, 69); padding: 2px 0px 0px;}
section#utilitarios ul li a:hover{background: #ECECEC;}


section#favoritos{width: 100%; display: block; float: left;}

section#favoritos h3{display: block; background: #DBD8D8; color: #225A9C; font-size: 13px; padding: 5px 6px;}

section#favoritos ul{display: block; float: left; padding: 0px; margin: 0;}

section#favoritos ul li{width: 100%; display: block; float: left; margin: 1px 0px; background: #1163C3;}

section#favoritos ul li a{width: 100%; height: 34px; line-height: 32px; display: block; float: left; color: #ffffff; padding: 2px 0px 0px px;}
section#favoritos ul li a:hover{background: #215592;}

section#favoritos ul li span{display: none; float: right; background: #F00; padding: 0px 6px; color: #ffffff;}

section#favoritos ul li a:hover span{display: block;}


section#filtros{width: 100%; display: block; float: left; background: #F5F3F3; margin-top: 13px;}

section#filtros h3{display: block; color: rgb(69, 69, 69); font-size: 13px; border-top: 2px solid #000; margin-top: 0px; padding: 10px 0 0 5px;}

section#filtros ul{display: block; float: left; padding: 0px; margin: 10px 0px 0px;}

section#filtros ul li{width: 100%; display: block; float: left; margin: 1px 0px; padding-left: 6px;}

section#filtros ul li a{width: 100%; height: 30px; line-height: 32px; display: block; float: left; color: #225A9C; padding: 2px 0px 0px 0px;}
section#filtros ul li a:hover{background: #ffffff;}


section#resultados{width: 100%; display: block; float: left;}

section#resultados h3{display: block; color: rgb(69, 69, 69); font-size: 13px; margin-top: 0px; padding: 10px 0 0 5px; text-transform: capitalize;}

section#resultados ul{display: block; float: left; padding: 0px; margin: 10px 0px 0px;}

section#resultados ul li{display: block; float: left; margin: 1px 0px; border: 1px solid rgb(204, 204, 204);}

section#resultados ul li a{height: 30px; line-height: 32px; display: block; float: left; color: #337AB7; border-color: #337AB7; padding: 8px;}
section#resultados ul li a:hover{background-color: #337AB7; color: #ffffff;}

section#resultados ul li.anterior{border-top-left-radius: 10px; border-bottom-left-radius: 10px; cursor: default;}

section#resultados ul li.anterior a:hover{border-top-left-radius: 10px; border-bottom-left-radius: 10px; background-color: #337AB7; color: #ffffff;}

section#resultados ul li.proximo{border-top-right-radius: 10px; border-bottom-right-radius: 10px;}

section#resultados ul li.proximo a:hover{border-top-right-radius: 10px; border-bottom-right-radius: 10px;}


div.container div.componentes section#conteudos{width: 100%; display: block; float: left;}

div.container div.componentes section#conteudos h3{display: block; color: #225A9C; background: #DBD8D8; font-size: 14px; margin-top: 0px; padding: 8px 0px 5px 8px; text-transform: capitalize;}

div.container div.componentes section#conteudos div.contconteudos{width: 100%; display: block; float: left; border-bottom: solid 1px #7E7E7E; margin-bottom: 5px;}

div.container div.componentes section#conteudos div.contconteudos a{color: #3680D7; display: block; margin: 20px 0; font-weight: bold;}

div.container div.componentes section#conteudos div.contconteudos p{display: block; float: left; color: #7E7E7E; line-height: 23px;}

div.container div.componentes section#conteudos div.contconteudos span{float: right; color: #ccc; font-size: 12px;}


div.relacionados{width: 100%; display: block; float: left; padding: 8px 5px; background: url(../imgs/line-cxs.jpg) no-repeat left -5px;}

div.relacionados img{display: block; float:  left; margin: 10px 5px 10px 0;}

div.relacionados p{display: block; color: #7E7E7E;     margin: 10px 0 7px;}

div.relacionados p strong{display: block; color: #0060C7;  margin: 0;  font-size: 15px;}

div.relacionados small{display: block; font-size: 11px; color: #718792;}

.destaque{border-top: solid 1px #36C3AE; border-bottom: solid 1px #36C3AE;}

div.destaque p strong{display: block; color: #36C3AE;  margin: 0; font-size: 15px;}


div.usuarios{width: 100%; display: block; float: left; padding-bottom: 15px;}

div.usuarios h4{display: block; color: #225A9C; background: #DBD8D8; font-size: 14px; margin-top: 0px; padding: 8px 0px 5px 8px; text-transform: capitalize;}

div.usuarios h5{color: #0060C7; text-transform: capitalize; margin: 5px 0; font-size: 16px;}

div.usuarios img{display: block; float: left;}

div.usuarios ul{width: 100$; display: block; float: left; padding: 0; margin: 0 0 0 10px; }

div.usuarios ul li{display: block; margin: 4px 0;}

div.usuarios ul li strong{color: #718792; margin-right: 3px;}






/*FIM COMPONENTES*/

/*FORMULARIO*/
.txt{margin: 0!important;}


.btnform{height: 30px; line-height: 32px; display: block; float: right; color: #ffffff; padding: 0px 4px; margin: 3px 3px;}
.btnform:hover{background: #3680D7; }

.btnicon{height: 30px; float: right; color: #ffffff; background: transparent;}

.default{background: #0F417D;}
.success{background: #34C0AF;}

.bgescuro{background: #F5F3F3; border-bottom: 1px solid #C2C2C2; border-top: 1px solid #C2C2C2; margin: 0;}
.bgclaro{background: #ffffff; margin: 0;}

.form-control {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 39px;
    padding: 0px 5px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    margin: 6px 0;
}

.primary{background: #1163C3;}

.primary h1, .primary h2, .primary h3, .primary h4, .primary h5, .primary h6{ color: #ffffff!important; text-transform: capitalize!important; padding: 0; margin: 0;}

.panel-heading{width: 100%; display: block; float: left; font-weight: bold; padding: 6px 0px;}

div.container div.topo{width: 100%; display: block; float: left;}


div.container div.login{width: 100%; display: block; float: left;}

div.container div.login h2{display: block; text-align: center; margin-bottom: 20px;}

div.container div.login section#formulario{width: 283px; display: block; margin: 0 auto;}

div.container div.login section#formulario .contlogin{width: 100%; display: block; float: left; padding: 4% 0 7px 0;  margin-bottom: 15px; background: #EAEAEA; border-radius: 9px;}

div.container div.login form{width: 218px; display: block; margin: auto; margin-bottom: 10px;}

div.container div.login section#formulario div.contlogin input[type="submit"]{width: 80px; height: 30px; float: none; margin: 0 auto 5px auto; display: block;}



hr{width: 100%; display: block; float: left; border: 2px solid #0f417D;}

div.container div.login a.senhaPerdida{display: block; color: #1163C3; padding: 17px 75px 0; float: left;}

div.container div.login a.entrar{display: block; font-size: 14px; color: #FFF; background: #0F417D; float: left; padding: 2px 4px; margin: 0 28px;}


div.container div.componentes section#reuniao{width: 100%; display: block; float: left;}

div.container div.componentes section#reuniao h3{color: #3680D7; display: block; margin: 20px 0; font-weight: bold; text-transform: capitalize; border-bottom: solid 1px #7E7E7E;}

div.container div.componentes section#reuniao h4{color: #000; display: block; margin: 20px 0; font-weight: bold; text-transform: capitalize;  font-size: 23px;}

div.container div.componentes section#reuniao div.form{width: 100%; display: block; float: left; background: #F5F3F3; border-top: solid 2px #656565;}


div.container div.componentes section#sala{width: 100%; display: block; float: left;}

div.container div.componentes section#sala h4{color: #1163C3; display: block; font-weight: bold; text-transform: capitalize; background: #E7E6E6; font-size: 18px; padding: 6px 2px;}

div.agenda{width: 100%; display: block; float: left;}

div.agenda ul{width: 100%; display: block; float: left; padding: 0px; margin: 10px 0px 0px;}

div.agenda ul li{width: 100%; display: block; float: left; margin: 3px 0px; }

div.agenda ul li strong{color: #1163C3;}

div.agenda a:hover{background: #3680D7;}

div.container div.componentes section#sala section#adicionais{width: 100%; display: block; float: left;}

div.container div.componentes section#sala section#adicionais ul{width: 100%; display: block; float: left; padding: 0px; margin: 10px 0px 0px 200px;}

div.container div.componentes section#sala section#adicionais ul li{display: block; float: left; color: #1163C3; margin: 0 3px;}

div.container div.componentes section#sala section#horario ul {width: 100%; display: block; float: left; padding: 0;}

div.container div.componentes section#sala section#horario ul li{display: block; float: left; color: #FFF; background: #5F6D7D; margin: 3px 1px; padding: 3px 4px;}

div.container div.componentes section#sala section#horario ul li:hover{background: #34C0AF;}


div.container div.componentes section#agendamento{width: 100%; display: block; float: left;}

div.container div.componentes section#agendamento h3{color: #3680D7; display: block; margin: 20px 0; font-weight: bold; text-transform: capitalize; border-bottom: solid 1px #7E7E7E;}

div.container div.componentes section#agendamento h4{color: #000; display: block; margin: 20px 0; font-weight: bold; text-transform: capitalize;  font-size: 23px;}

div.container div.componentes section#agendamento div.form{width: 100%; display: block; float: left; background: #ffffff; border-top: solid 2px #656565;}

div.container div.componentes section#agendamento div.form p{display: block; float: left; margin: 0; padding: 0 0 0 1px; line-height: 50px;}

div.container div.componentes section#reuniao div.form span{margin-top: 5px; float: left;}


section#plugin{width: 100%; display: block; float: left;}

section#plugin img{display: block; float: left; margin: 10px 0;}

section#plugin h5{display: block; font-weight: bold; text-transform: capitalize; color: #000; margin: 14px 0 5px 0; padding: 6px 0;}

section#plugin p{display: block; float: left; color: #000;}

section#plugin ul{width: 100%; display: block; float: left; padding: 0; margin: 0;}

section#plugin ul li{display: block; float: left; margin: 2px 0;}

section#plugin ul li strong{color: #1163C3;}

section#plugin p strong{color: #1163C3;}
